#map-container {
   height: 1000px;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 25px;
   border-width: 7px;
 }

#map {
  height: 98%;
  width: 100%;
}

#purge-all-polygons {
  z-index: 0;
  position: absolute;
  font-size: 16px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 22px;
  text-align: center;
}
